@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: unset;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.background {
    background-blend-mode: darken;
    background-color: rgba(243, 168, 111, 0.5);
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo {
    font-size: 50px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

header {
    align-items: center;
    background-color: rgba(7, 51, 88, 0.5);
    /* background-blend-mode: color; */
    color: #ffffff;
    display: flex;
    /* filter: blur(25px); */
    height: 8vh;
    padding-left: 140px;
    width: 100vw;
}

.hero {
    align-items: center;
    color: #ffffff;
    display: flex;
    flex: 1;
    /* height: 92vh; */
    padding-left: 8vw;
}

h1 {
    margin: 0;
    padding: 0;
}

.hallo {
    font-family: 'Bebas Neue', cursive;
    font-size: 62px;
}

.blue {
    color: #43afdb;
}

.orange {
    color: #f3a86f;
}

.hallo:hover > span.blue {
    color: #0396a7;
}

.hallo:hover > span.orange {
    color: #f26e23;
}

.intro {
    font-size: 35px;
    margin-bottom: 40px;
    width: 674px;
}

.leesmeer {
    background-color: #3285a7;
    color: #ffffff;
    box-sizing: border-box;
    font-size: 35px;
    padding: 10px 25px;
    height: 80px;
    width: 260px;
    border-radius: 40px;
    text-decoration: none;
}

.leesmeer:hover {
    background-color: #073358;
}

/********************TAG SELECTORS********************/ 
/* These are the basic tags that are targetted but dan be overwritten by class of id selecors. */

/********************CLASS SELECTORS********************/
/* These are class selectors. There can be multiple elements with the same class. You can group elements that are going to behave in the same style.*/
/* You can have multiple classes on one element. */

/********************ID SELECTORS********************/
/* These are id selectors. You can use a specific id on just ONE element. There can not me multiple of the same id's. */
/* You can have just ONE id per element. Never multiple. */

/********************SHORTCUTS********************/
/* Ctrl + K + C comment out the section of code */
/* Ctrl + K + U uncomment the code */
/* Option + Z enables/disables line wrapping */
/* Fn + Command + F2 to rename a variable inside a code block */