@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/********************TAG SELECTORS********************/ 
/* These are the basic tags that are targetted but dan be overwritten by class of id selecors. */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    align-items: center;
    background-color: #000000;
    display: flex;
    height: 90px;
    padding-left: 140px;
    
}

h3 {
    color: #ffffff;
    font-size: 25px;
}

main {
    color: #0F7DCE;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-left: 140px;
}

h1 {
    font-size: 90px;
    margin: 0;
}

p {
    font-size: 20px;
    width: 536px;
}

footer {
    background-color: #000000;
    height: 90px;
}

/********************CLASS SELECTORS********************/
/* These are class selectors. There can be multiple elements with the same class. You can group elements that are going to behave in the same style.*/
/* You can have multiple classes on one element. */



/********************ID SELECTORS********************/
/* These are id selectors. You can use a specific id on just ONE element. There can not me multiple of the same id's. */
/* You can have just ONE id per element. Never multiple. */



/********************SHORTCUTS********************/
/* Ctrl + K + C comment out the section of code */
/* Ctrl + K + U uncomment the code */
/* Option + Z enables/disables line wrapping */
/* Fn + Command + F2 to rename a variable inside a code block */