// $primary-color: #ff9833;
// $secundairy-color: #e01c17;
// $light-color: #ffffff;
// $dark-color: #000000;

// @ ---------- COLORS ---------- @ //
$primary-text-color: #fff;
$primary-text-color-dimmed: rgba(255, 255, 255, 0.5);
$secundairy-text-color: #073358;
$copyright-text-color: #ffffff49;

// $hero-overlay: rgba(243, 168, 111, 0.5);
$hero-overlay: rgba(0, 0, 0, 0.5);
// $navbar-color: rgba(7, 51, 88, 0.5);
$navbar-color: #073358; // ? beter voor consistentie

$body-background-color: #F2FEFF;
$background-color: #073358;
$primary-blue: #43afdb;
$hover-blue: #3285a7;
// $hover-blue: #0396a7;
$primary-orange: #f3a86f;
$secundairy-orange: #F19F6B;
$hover-orange: #f26e23;

// @ ---------- FONTS ---------- @ //
$roboto: 'Roboto', sans-serif;
$lexend: 'Lexend', sans-serif;
$bebas-neue: 'Bebas Neue', cursive;

// @ ---------- SCREEN SIZES ---------- @ //
$screen-sm: 768px;
$screen-md: 992px;
$screen-xl: 1200px;

// @ ---------- OTHER ---------- @ //
$btn-socials-size: 32px;
