// $primary-color: #ff9833;
// $secundairy-color: #e01c17;
// $light-color: #ffffff;
// $dark-color: #000000;

$primary-text-color: #fff;
$secundairy-text-color: #073358;

$hero-overlay: rgba(243, 168, 111, 0.5);
$navbar-color: rgba(7, 51, 88, 0.5);

$body-background-color: #F2FEFF;
$background-color: #073358;
$primary-blue: #43afdb;
$hover-blue: #3285a7;
// $hover-blue: #0396a7;
$primary-orange: #f3a86f;
$secundairy-orange: #F19F6B;
$hover-orange: #f26e23;

$btn-socials-size: 32px;

$roboto: 'Roboto', sans-serif;
$bebas-neue: 'Bebas Neue', cursive;
