@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@500;700&family=Lexend:wght@400;700&family=Roboto:wght@400;700&display=swap");
.title-text {
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-size: 62px;
}

.title-color-custom {
  color: #073358;
}

.text-color-primary {
  color: #fff;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#github {
  background-image: url("../img/github-white.svg");
  background-repeat: no-repeat;
}

#linkedin {
  background-image: url("../img/linkedin-white.svg");
  background-repeat: no-repeat;
}

#linkedin :hover {
  background-image: url("../img/linkedin-black.svg");
}

#mailto {
  background-image: url("../img/mail-white.svg");
  background-repeat: no-repeat;
}

#mailto :hover {
  background-image: url("../img/mail-black.svg");
}

.title-text .blue {
  color: #43afdb;
}

.title-text .orange {
  color: #f3a86f;
}

.title-text:hover .blue {
  color: #3285a7;
}

.title-text:hover .orange {
  color: #f26e23;
}

.btn-blue {
  background-color: #43afdb;
  color: #fff;
}

.btn-blue:hover {
  background-color: #3285a7;
  color: #fff;
}

.bg-navbar {
  background-color: #073358;
}

.title-bg-custom {
  background-color: #3285a7;
}

.border-none {
  border: none;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.vh-50 {
  height: 50vh;
}

.bg-sec-orange {
  background-color: #F19F6B;
}

.bg-contact {
  background-color: #073358;
}

.bg-primary-blue {
  background-color: #43afdb !important;
}

.bg-hover-blue {
  background-color: #3285a7 !important;
}

.spacer-bottom {
  padding-bottom: 128px;
}

.fs-custom-title {
  font-size: 56px;
}

.rounded-top-start {
  border-top-left-radius: 5px;
}

.rounded-top-end {
  border-top-right-radius: 5px;
}

.border-sec-orange {
  border: 2px solid #F19F6B;
}

.copyright-text-color {
  color: #ffffff49;
}

body {
  font-family: "Lexend", sans-serif;
}

body {
  background-color: #F2FEFF;
}

.font-bebas {
  font-family: "Bebas Neue", cursive;
}

.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

html.sr .load-hidden {
  visibility: hidden;
}

.custom-background {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.languages-grid-container {
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.languages-grid-item {
  background-color: #F19F6B;
  border-radius: 5px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: large;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  width: auto;
}

@media only screen and (max-width: 768px) {
  #socials-navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */