@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.title-text {
  font-family: "Bebas Neue", cursive;
  font-size: 62px;
}

.title-color-custom {
  color: #073358;
}

.text-color-primary {
  color: #fff;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#github {
  background-color: #ED6A5E;
}

#github:hover {
  background-color: #CE5B51;
}

#linkedin {
  background-color: #F3BE59;
}

#linkedin:hover {
  background-color: #D6A74E;
}

#mailto {
  background-color: #61C454;
}

#mailto:hover {
  background-color: #4FA044;
}

.btn-social {
  height: 32px;
  width: 32px;
}

.title-text .blue {
  color: #43afdb;
}

.title-text .orange {
  color: #f3a86f;
}

.title-text:hover .blue {
  color: #3285a7;
}

.title-text:hover .orange {
  color: #f26e23;
}

.btn-blue {
  background-color: #43afdb;
  color: #fff;
}

.btn-blue:hover {
  background-color: #3285a7;
  color: #fff;
}

.bg-navbar {
  background-color: rgba(7, 51, 88, 0.5);
}

.title-bg-custom {
  background-color: #3285a7;
}

.border-none {
  border: none;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.vh-50 {
  height: 50vh;
}

.bg-sec-orange {
  background-color: #F19F6B;
}

.bg-contact {
  background-color: #073358;
}

.bg-primary-blue {
  background-color: #43afdb;
}

.bg-hover-blue {
  background-color: #3285a7;
}

.spacer-bottom {
  padding-bottom: 128px;
}

.fs-custom-title {
  font-size: 56px;
}

.rounded-top-start {
  border-top-left-radius: 5px;
}

.rounded-top-end {
  border-top-right-radius: 5px;
}

.border-sec-orange {
  border: 2px solid #F19F6B;
}

.copyright-text-color {
  color: #8080802a;
}

body {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #F2FEFF;
}

.custom-background {
  background-blend-mode: darken;
  background-color: rgba(243, 168, 111, 0.5);
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */